<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/main-style.css">
    <title>Sample Database in a Table</title>
  </head>
  <body>
    <h1>Hotels in Monongalia County</h1>
    <table>
      <tr>
        <th>Name</th><th>Address</th><th>Type</th>
      </tr>
      <% data.each do |data| %>
        <tr>
          <td><%=data[:Name]%></td><td><%=data[:Address]%></td><td><%=data[:Type]%></td><td><button id="edit">Edit</button><button id="delete">Delete</button></td>
        </tr>
      <% end %>
    </table>
    </form>
    <form action="/data" method="post">
      <label for="name">Name</label>
      <input name="name" type="text">
      <label for="address">Address</label>
      <input name="address" type="text">
      <label for="type">Type</label>
      <input name="type" type="text">
      <input type="submit" value="submit">
    </form>
  </body>
</html>